body {
    background-color: #fff8dc;
    margin: 0%;
    text-align: center;
    font-family: sans-serif;
}

.content {
    text-align: center;
    background-color: white;
}

.chairs {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.centerchair {
    width: 50%;
}

.leftchair1 {
    width: 50%;
    float: left;
}

.rightchair1 {
    width: 50%;
    float: right;
}

.leftchair2 {
    width: 50%;
    float: left;
}

.rightchair2 {
    width: 50%;
    float: right;
}

h1 {
    font-size: 60px; 
    text-align: center;
}

li {
    display: inline; 
    font-size: 35px;
}

h2, h3, h4, h5 {
    font-size: 25px;
}

footer {
    text-align: center;
}